# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyproject.toml-based tools
.mypy_cache/
ruff_cache/
.pyre/
.dmypy.json
.pytype/

# VS Code and other editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS / Linux / Windows OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# dotenv
.env
.env.*

# Logs
*.log

# Test data
*.tmp
*.bak
*.swp


.ocla/

